<configuration>
    <appender name="consoleAppender"  class="no.nav.log.MaskingAppender">
        <appender name="stdout_json_masked" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
    </appender>

    <logger name="jsonLogger" additivity="false" level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="no.nav.vault.jdbc.hikaricp.VaultUtil" level="WARN"/>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
