<configuration>
    <springProfile name="prod-fss, dev-fss, dev-gcp-labs">
        <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/secure-logs/secure.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
                <minIndex>1</minIndex>
                <maxIndex>1</maxIndex>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>50MB</maxFileSize>
            </triggeringPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>
        <logger name="secureLogger" level="INFO" additivity="false">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>
    <springProfile name="local">
        <logger name="secureLogger" level="INFO" additivity="false">
            <appender-ref ref="consoleAppender"/>
        </logger>
    </springProfile>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="jsonLogger" additivity="false" level="DEBUG">
        <appender-ref ref="consoleAppender"/>
    </logger>
    <logger name="no.nav.vault.jdbc.hikaricp.VaultUtil" level="WARN"/>
    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>
