name: Bygg og deploy - Labs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * 1-5'

jobs:
  build:
    name: Bygg og deploy applikasjon
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v4

      - name: Oppsett Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: Fjern test scope fra pom.xml
        run: sed -i 's/<scope>test<\/scope>//g' pom.xml

      - name: Bygg og test med Maven
        run: mvn package -B -Dsurefire.useFile=false

      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          tag: latest
          byosbom: target/classes/META-INF/sbom/application.cdx.json
          image_suffix: labs
          dockerfile: DockerfileLabs
          team: arbeidsgiver

  deploy-gcp-labs:
    name: Deploy applikasjon til gcp (gamle labs)
    runs-on: ubuntu-latest
    needs: [ build ]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v4

      - name: Deploy til gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/dev-gcp-labs.yaml
          VAR: image=${{ needs.build.outputs.image }},deploytrigger=${{ github.run_number }}
